.reddiv{
  width: 500px;
  height: 50px;
  background: red;
}

#ex-120-stage {
  position: relative;
}

#ex-120-stage {
  position: relative;
  background-color: #d4d4d4;
  margin-bottom: 1em;
}

#ex-120-line {
  left: 360px;
}

.snap-line-v {
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  margin-left: -1px;
  border: solid #24c4f1;
  border-width: 0 1px;
}

div.enfant
{
 display: none;
}

div.parent:hover .enfant{
	display:block;
}

.settingsBoatBar{
  width: 25%;
}